<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <header class="color-cabecera">
        <div class="flex centro ww100">
        <img src="/img/ThaiNavarro.png" class="imagen">
            <ul class="flex centro mt-3">
                <a href="/"><li class="mx-4"><strong>Inicio</strong></li></a>
                <a href="/carta"><li class="mx-4"><strong>Carta</strong></li></a>
                <a href="#"><li class="mx-4"><strong>Restaurantes</strong></li></a>
                <a href="#"><li class="mx-4"><strong>Reserva</strong></li></a>
                <a href="#"><li class="mx-4"><strong>Promociones</strong></li></a>
                <a href="#"><li class="mx-4"><strong>Contacto</strong></li></a>
            </ul>
        </div>
    </header>
    <div class="">
        <h1>Que te apetece pedir?</h1>
        {{!-- <img src="/img/padthai.png"> --}}
    </div>
  </body>
</html>