<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <header class="color-cabecera">
        <div class="flex centro ww100">
        <img src="/img/ThaiNavarro.png" class="imagen">
            <ul class="flex centro mt-3">
                <a href="/"><li class="mx-3"><strong>Inicio</strong></li></a>
                <li class="mx-3"><strong>Carta</strong></li>
                <li class="mx-3"><strong>Restaurantes</strong></li>
                <li class="mx-3"><strong>Promociones</strong></li>
                <li class="mx-3"><strong>Contacto</strong></li>
            </ul>
        </div>
    </header>
  </body>
</html>