<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="flex">
        <div class="flex alcentro ww100vw">
            <a href="/"><img src="/img/logoblanco.png" class="imagenpequena"></a>
            <h5 class="mt-3 ms-5">ThaiNavarro</h5>
        </div>
        <div class="ww90vw flex derecha me-5">
            {{#if name}}
                <a href="/logout" class="nodecoration amarillo negrita"><strong>Logout</strong></a>
            {{else}}
                <a href="/login" class="nodecoration amarillo negrita"><strong>Iniciar sesion</strong></a>
            {{/if}}
        </div>
    </header>
    <div class="ww100vw flex centro mt-3">
        <button class="ww50vw flex centro mx-5 domicilio" onclick="btn1()" id="boton1">
            <p class="nomargim">Pedido a domicilio</p>
        </button>
        <button class="ww50vw flex centro recoger mx-5" onclick="btn2()" id="boton2">
            <p class="nomargim">Pedido para recoger</p>
        </button>
    </div>
    <div class="ww100vw mt-5">
        <ul class="ww100vw bloqueul flex">
            <li class="listapedir">
                <h4 onclick="abrir()">Especialidades</h4>
            </li>
            <li class="listapedir">
                <h4 onclick="aentrante()">Entrantes</h4>
            </li>
            <li class="listapedir">
                <h4 onclick="asopa()">Sopas</h4>
            </li>
            <li class="listapedir">
                <h4>Postres</h4>
            </li>
            <li class="listapedir">
                <h4>Bebidas</h4>
            </li>
        </ul>
    </div>
    <hr class="linea">
    <div class="mx-5 mt-5" id="especialidad">
        <h3>
            Especialidades
        </h3>
        <div class="flex centro ww100">
            <div class="ww65vw flex flex-wrap centro">
                <div class="flex columna centro border suscosas mx-5 bg-div pointer">
                    <img src="/img/arroz.png" class="imagenmedia">
                    <div class="flex centro suscosas">
                    <h2 class="nomargim my-2">Navarroz</h2>
                    </div>
                </div>
                <div class="flex columna centro mx-5 border my-3 bg-div pointer">
                    <img src="/img/i.png" class="imagenmedia">
                    <h2>Elvisa</h2>
                </div>
                <div class="flex columna centro mx-5 border my-3 bg-div pointer">
                    <img src="/img/chem.png" class="imagenmedia">
                    <h2>Chen</h2>
                </div>
                <div class="flex columna centro mx-5 border my-3 bg-div pointer">
                    <img src="/img/pasta.png" class="imagenmedia">
                    <h2>4tuNoodles</h2>
                </div>
                <div class="flex columna centro mx-5 border my-3 bg-div pointer">
                    <img src="/img/tom.png" class="imagenmedia">
                    <h2>Adrian Arroz</h2>
                </div>
                <div class="flex columna centro mx-5 border my-3 bg-div pointer">
                    <img src="/img/ensalada.png" class="imagenmedia">
                    <h2>Xexuga</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-5 mt-5 none" id="entrante">
        <h3>
            Entrantes
        </h3>
        <div class="flex centro ww100">
            <div class="ww65vw flex flex-wrap centro">
                <div class="flex columna centro border suscosas mx-5 bg-div pointer">
                    <img src="/img/takoyaki.png" class="imagenmedia">
                    <h2 class="nomargim my-2">Takoyaki</h2>
                </div>
                <div class="flex columna centro mx-5 border my-3 bg-div pointer">
                    <img src="/img/wantun.png" class="imagenmedia">
                    <h2>Wan Tun</h2>
                </div>
                <div class="flex columna centro mx-5 border my-3 bg-div pointer">
                    <img src="/img/gyozas.jpg" class="imagenmedia">
                    <h2>Gyozas</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-5 mt-5 none" id="sopa">
        <h3>
            Sopas
        </h3>
        <div class="flex centro ww100">
            <div class="ww65vw flex flex-wrap centro">
                <div class="flex columna centro border suscosas mx-5 bg-div pointer">
                    <img src="/img/dowdo.png" class="imagenmedia">
                    <h2 class="nomargim my-2">Sopa Dowdo</h2>
                </div>
                <div class="flex columna centro mx-5 border my-3 bg-div pointer">
                    <img src="/img/yaya.webp" class="imagenmedia">
                    <h2>Sopa la yaya</h2>
                </div>
                <div class="flex columna centro mx-5 border my-3 bg-div pointer">
                    <img src="/img/pobre.png" class="imagenmedia">
                    <h2>Sopa de pobre</h2>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>